@use '../../../styles/statisticCard' as *;

// --- PROMĚNNÉ ---
$verdi-red: #e31c23;
$telekom-magenta: #e20074;
$dark-gray: #333333;
$light-gray: #f5f5f5;
$border-gray: #dddddd;
$text-primary: #2b2b2b;
$text-secondary: #666666;
$success: #00a651;
$warning: #ff9800;

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 0.25rem;
  margin-left: 0.5rem;

  &-danger {
    color: #fff;
    background-color: #dc3545; // Červená / tmavě růžová
  }
  &-success {
    color: #fff;
    background-color: #198754; // Zelená / magentová podle vkusu
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
.skeleton-container {
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.skeleton-card {
  background: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.skeleton-line {
  background-color: #e2e8f0;
  border-radius: 4px;
  display: inline-block;
}

.logo {
  &-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
  }

  &-badge {
    background: $verdi-red;
    color: $verdi-red;

    font-weight: 900;
    font-size: 0.85rem;
  }

  &-verdi {
    img {
      background-color: $verdi-red; /* Bílé pozadí (nebo jakékoliv jiné) */
      width: 50px; /* Nastav si velikost, jakou potřebuješ */
    }
  }

  &-text {
    font-size: 1.1rem;
    font-weight: 600;
  }
}
