
//toolbar
$toolbar_height: 64px;

//spacing
$space-0: 0;
$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-8: 32px;

$bigger_icon_font_size: 50px;

// input
$input_height: 26px;
$input_width: 48pxpx;


//pictures
$picture_height: 80px;
$picture_width: 80px;

//gap
$gap-0: 0rem;
$gap-1: 1rem;
$gap-2: 2rem;
$gap-3: 4rem;

//grid
$grid-1: 24px;
$grid-2: 48px;

//circle
$circle-small: 28px;
$circle-medium: 50px;
$circle-large: 60px;

// font sizes
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;//toolbar
$toolbar_height: 64px;

//spacing
$space-0: 0;
$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-8: 32px;

$bigger_icon_font_size: 50px;

// input
$input_height: 26px;
$input_width: 48pxpx;


//pictures
$picture_height: 80px;
$picture_width: 80px;

//gap
$gap-0: 0rem;
$gap-1: 1rem;
$gap-2: 2rem;
$gap-3: 4rem;

//grid
$grid-1: 24px;
$grid-2: 48px;

//circle
$circle-small: 28px;
$circle-medium: 50px;
$circle-large: 60px;

// font sizes
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;