// Border widths (8pt systém není nutný, tady spíš optika)
$border-width-0: 0; // žádný border
$border-width-1: 1px; // jemný, nejčastější
$border-width-2: 2px; // zvýrazněný
$border-width-3: 3px; // silný
$border-width-4: 4px; // extra silný (výjimečně)